.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.react-chatbot-kit-chat-bot-avatar-container{
  background-image: url(/src/boticon.png);
  background-size: contain;
  background-color: none;
}

.react-chatbot-kit-chat-bot-avatar-letter{
  color: transparent;
}

.react-chatbot-kit-chat-bot-message, .react-chatbot-kit-chat-btn-send{
  background-color: #108746 !important;
}

.react-chatbot-kit-chat-bot-message{
  width: 200px;
}


.react-chatbot-kit-chat-bot-message-arrow{
  border-right-color: #108746 !important;
}

.react-chatbot-kit-chat-container{
  width:300px;
}